<div class="d-flex align-items-center justify-content-center">
  <h1>Schedule your Tweets</h1>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <%= button_to 'Link Twitter account', '/auth/twitter', method: :post, class: 'btn btn-primary' %>
</div>
