<div class='d-flex align-items-center justify-content-between'>
  <h1>Tweets</h1>

  <% if Current.user.twitter_accounts.any? %>
    <%= link_to 'Schedule a tweet', new_tweet_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<% if Current.user.twitter_accounts.none? %>
  <%= button_to 'Link Twitter account', "/auth/twitter", method: :post, class: 'btn btn-primary' %>
<% end %>

<!-- if we provide a model instance or ActiveRecord query to render method -->
<%= render @tweets %>
<!-- this will yield to a partial page and render that for each query result in @tweets -->